.navbar.navbar-fixed-top
  .navbar-inner{:data => {'scollspy' => 'scollspy'}}
    .container
      = link_to 'Real Time Dashboard', user_url, :class => 'brand'
      %ul.nav
        %li{:class => active('List')}
          = link_to 'List', company_url
      %ul.nav{:class => 'pull-right'}
        %li{:class => active('support')}
          = link_to 'Support', support_url
        %li
          - if signed_in?
            = link_to 'Logout ' + current_user.name, logout_url, :method => :delete
          - else
            = link_to 'Login', login_url
.navbar-spacer
!= flash_handler
