= render 'pages/site_menu'
.container
  = form_for @user, :html => {:class => 'form-horizontal'} do |f|
    .fieldset
      %legend Sign up
      .control-group{:class => user_error_class(@user, :name)}
        %label.control-label User
        .controls
          %input.input{:type => 'text', :name => 'user[name]', :value => @user[:name]}
          #span.help-inline
            = user_error_message(@user, :name)
      .control-group{:class => user_error_class(@user, :email)}
        %label.control-label Email
        .controls
          %input.input{:type => 'text', :name => 'user[email]', :value => @user[:email]}
          #span.help-inline
            = user_error_message(@user, :email)
      .control-group{:class => user_error_class(@user, :password)}
        %label.control-label Password
        .controls
          %input.input{:type => 'password', :name => 'user[password]', :value => @user[:password]}
          #span.help-inline
            = user_error_message(@user, :password)
      .control-group
        %label.control-label
        .controls
          = button_tag "Create", :class => 'btn btn-primary', 'data-disable-with' => "Processing ..."
