= render 'pages/menu'
.container
  %h2 Sign up
  = form_for(@user) do |f|
    .fieldset
      .legend
      .em
        .clearfix{:class => user_error_class(@user, :name)}
          = f.label :name
          .input
            = f.text_field :name
            %span.help-inline 
              = user_error_message(@user, :name)
        .clearfix{:class => user_error_class(@user, :email)}
          = f.label :email
          .input
            = f.text_field :email
            %span.help-inline 
              = user_error_message(@user, :email)
            -#%input#xlInput{:name => 'email', :type => 'text'} 
            -#.input#xlInput{:class => 'error', :name => 'user', :type => 'text'} 
            -#%span.help-inline Invalid user
        .clearfix{:class => user_error_class(@user, :password)}
          = f.label :password
          .input
            = f.password_field :password
            %span.help-inline 
              = user_error_message(@user, :password)
            -#%input{:type => 'password'}
        .clearfix
          .input
            = button_tag "Create", :class => 'btn primary', :disable_with => "Processing ..."
