= render 'site_menu'
.container
  %h2 Company
  .row
    .span4
      .sidebar
        .well
          %h5
            = latin_sentence 3
          %ul
            %li
              = link_to latin_sentence(7), '#feature_1', :id => 'feature_1', :remote => true
            %li
              = link_to latin_sentence(6), '#feature_2', :id => 'feature_2', :remote => true
            %li
              = link_to latin_sentence(9), '#feature_3', :id => 'feature_3', :remote => true
    .span8
      .product_text
= render 'footer'
