= render 'site_menu'
.container
  .product_text_2
    %h2 Features
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Feature
          %th Bronze
          %th Silver
          %th Gold
      %tbody
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
        %tr
          %td
            %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
              = latin_sentence 5
          %td X
          %td X
          %td X
= render 'footer'
