= render 'site_menu'
.container
  .row
    .span4
      .sidebar
        .well
          %h5
            = latin_sentence 3
          %ul
            %li
              = link_to latin_sentence(7), '#feature_1', :class => 'product_feature_1'
            %li
              = link_to latin_sentence(6), '#feature_2', :class => 'product_feature_2'
            %li
              = link_to latin_sentence(9), '#feature_3', :class => 'product_feature_3'
    .span8
      .product_text_1
        .hero-unit#home
          %h2 Hello Product 1
          %p
            = latin_sentence 9
        .span8
          %h2
            1
            = latin_sentence 5
          %p
            = latin_paragraph 10
          %p
            = latin_paragraph 20
      .product_text_2
        %h2 Features
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Feature
              %th Bronze
              %th Silver
              %th Gold
          %tbody
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
            %tr
              %td
                %a{:href => '#', :rel => 'popover', :data => { 'original-title' => 'Consectetur officiis', 'content' => 'Aut et assumenda necessitatibus quis.', 'placement' => 'left'}}
                  = latin_sentence 5
              %td X
              %td X
              %td X
      .product_text_3
        .hero-unit#home
          %h2 Hello Product 3
          %p
            = latin_sentence 9
        .span8
          %h2
            3
            = latin_sentence 5
          %p
            = latin_paragraph 10
          %p
            = latin_paragraph 20
= render 'footer'
