= render 'menu'
.container
  .hero-unit
    %h1.special Hello world!!!
    .row
      .span7
        %p 
          = $p_0
      .span3
        %p 
          = link_to 'Join now!', user_new_path, :class => 'btn success join'
  .row
    .span5
      %h2 
        = $sub_title_0
      %p
        = $sub_p_0
    .span5
      %h2 
        = $sub_title_1
      %p
        = $sub_p_1
    .span5
      %h2
        = $sub_title_2
      %p
        = $sub_p_2
= render 'footer'
