= render 'menu'
.container
  .hero-unit
    %h1.special Hello world!!!!
    = image_tag 'computer-demo.png', :id => 'computer-demo'
    .row
      .span3
        %p 
          = @p_0
      .span5
        %p 
          = link_to 'Join now!!!', signup_path, :class => 'btn btn-large btn-success btn-join'
  .row
    .span4
      %h2 
        = @sub_title_0
      %p
        = @sub_p_0
    .span4
      %h2 
        = @sub_title_1
      %p
        = @sub_p_1
    .span4
      %h2
        = @sub_title_2
      %p
        = @sub_p_2
= render 'footer'
